html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $basic-dark;
  font-family: $main-font;
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
  overflow-x: hidden;
}




p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.screen__wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;

  @media (max-width: 1024px) {
    padding: 0 3.9%;
    overflow: hidden;
  }

  @media (max-width: 740px) {
    padding: 0 2.9%;
    overflow: hidden;
  }
}

.dark-screen {
  position:fixed;
  display:none;
  overflow: auto;
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0;
  background:$dark-screen;
  z-index:1;
  min-height: 100%;
}
