/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$sm: 320px;
$md: 768px;
$xl: 1280px;

// Цвета
$basic-dark: #545454;
// он жу rgba 84 84 84 1
$basic-gray: #4C4C4C;
$basic-light: #F6F6F6;
$basic-too-dark: #292929;
$gray:#B2B2B2;
$base-pink: #F1CDB3;
$white: #ffffff;


// Шрифты
$main-font: "Georgia", "Arial", sans-serif;
$text-font: "Arial", sans-serif;
