/* Это точка входа для всех стилей. Подключите сюда все файлы стилей, которые должны быть на странице.*/

@import "_variables.scss";
@import "_global.scss";
@import "_mixins.scss";
@import "blocks/_start.scss";
@import "blocks/_about.scss";
@import "blocks/_pets.scss";
@import "blocks/_help.scss";
@import "blocks/_donation.scss";
@import "blocks/_footer.scss";

