.burger {
  position: absolute;
  top: 0;
  right: -320px;
  width: 320px;
  background: #292929;
  padding-top: 250px;
  padding-bottom: 205px;
}

.burger__nav {
  @include list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}



.burger__item {
  margin: 0;
  margin-bottom: 41px;
}

.burger__link {
  @include font-second;
  @include link;
  color: $basic-light;
  font-size: 32px;
  line-height: 51px;
  margin: 0;
  color: $btn-light;
}

.burger__logo{
  position: absolute;
  top: 30px;
  left: 10px;
  opacity: 0;
  transition-duration: 1s;
}

.burger__logo--open{
  opacity: 1;
  transition-delay: 2s;
  transition-duration: 2s;
}

.burger__animation{
  transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  -o-transform: translateX(-320px);
  transition:transform 2s;
  -webkit-transition:transform 2s;
  -moz-transition:transform 2s;
  -ms-transition:transform 2s;
  -o-transition:transform 2s;
}

.burger__animation--close{
  transform: translateX(320px);
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  -ms-transform: translateX(320px);
  -o-transform: translateX(320px);
  transition:transform 4s;
  -webkit-transition:transform 4s;
  -moz-transition:transform 4s;
  -ms-transition:transform 4s;
  -o-transition:transform 4s;
}

