.footer {
  background:
    url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__wrap {
  @include big_screen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3.4%;

  @media (max-width: 1024px){
    width: 90%;
    padding-top: 2%;
  }
}

.footer__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;  
  letter-spacing: 0.06em;
  color: $white;
  margin-bottom: 32px;
}

.footer__text {
  display: block;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $base-pink;
  padding-left: 60px;
  box-sizing: border-box;
  min-height: 46px;
  display: flex;
  align-items: center;  
  margin-bottom: 26px;
}

.footer__contacts{
  box-sizing: border-box;
  width: 280px;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding-top: 17px;

  
 

}

.footer__location{
  box-sizing: border-box;
  padding-top: 17px;
  width: 302px;
  height: 229px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px){
    padding-left: 2px;
    margin-bottom: 13.5%;
  }
}

.footer__address{
 padding-left: 41px;
  position: relative;

  &::before{
    display: block;
    position: absolute;
    content: url(../../assets/images/icon-marker.svg);
    width: 22px;
    height: 32px;   
    left: -1px;
  }
}

.footer__email{
   position: relative;
 
   &::before{
     display: block;
     position: absolute;
     content: url(../../assets/images/icon-email.svg);
     width: 22px;
     height: 32px;   
     left: 0;
   }
 }

 
 .footer__phone{
   position: relative;
 
   &::before{
     display: block;
     position: absolute;
     content: url(../../assets/images/icon-phone.svg);
     width: 22px;
     height: 32px;   
     left: 0;
   }
 }

 .footer__img{
  display: block;
  margin-top: -1px;
  @media (max-width: 1024px){
    width: 300px;
    margin: 0 auto;
  }

 }
 

