.header {
  @include big_screen;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 60px;
}


.nav {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 16px;
}

.nav__item {
  margin-left: 35px;
}

.nav__link {
  @include font-second;
  font-size: 15px;
  line-height: 24px;
  color: $basic-light;
}
