.help {
  @include big_screen;
  padding-top: 80px;
  padding-bottom: 45px;
}

.help__title {
  @include title;
  margin-bottom: 60px;
  text-align: center;
}

.help__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

}

.help__item{
  padding: 0 60px;
  margin-bottom: 55px;
}


.help__name {
  @include subtitle;
}

.help__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}