.start {
  background:
    url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    
}

.start__hidden{
  overflow: hidden;
}

.header {
  @include big_screen;
  position: relative;
  padding-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;

  @media (max-width: 1024px) {
    padding-top: 4.2%;

  }

  
  @media (max-width: 740px) {
    padding-top: 10%;
  }

  &__wrap{
    position: sticky;
    top: 0;
    background-color: $white;
  }

  &-pets {
    padding-top: 30px;
    padding-bottom: 26px;
  }
}

.header__logo--hide{
  opacity: 0;
  transition-delay: 2s;
  transition-duration: 2s;
}

.header__burger--hidden{
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.header__burger{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 45px;
  right: 44px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;
}

.header__burger-line{
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background-color: $base-pink;
}

.header__burger::after{
  position: absolute;
  display: block;
  content: '';
  background-color: $base-pink;
  width: 30px;
  height: 2px;
  bottom: 4px;
}

.header__burger::before{
  position: absolute;
  display: block;
  content: '';
  background-color: $base-pink;
  width: 30px;
  height: 2px;
  top: 4px;
}


.header__burger--open{
  transform: rotate(90deg) translateY(1px);
  transition: transform 2s;
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 2s;
}

.header__burger--close{
  transform: translateY(-1px);
  transition: transform 2s;
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 2s;
}




.nav {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 16px;

  @media (max-width: 767px) {
    display: none;
  }
}



.nav__item {
  margin-left: 35px;
}

.nav__link {
  @include font-second;
  @include link;
  font-size: 15px;
  line-height: 24px;
  color: $basic-light;
  padding-bottom: 4px;

  &-pets {
    color: $basic-dark;
  }

  &--disabled{
    pointer-events: none;
    cursor: default; 
  }
}


.start__wrap {
  @include big_screen;
  padding-top: 4.64%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 1024px) {
    padding-top: 4.3%;
  }

  @media (max-width: 740px) {
    padding-top: 14.6%;
  }
}

.start__content {
  width: 38.3%;
  margin-right: 3.5%;
  margin-top: 13.66%;

  @media (max-width: 1024px) {
    width: 65%;
    margin-right: 0;
    margin-top: 3.8%;
    margin-bottom: 14.1%;
  }

  @media (max-width: 740px) {
    width: 97%;
    text-align: center;
    margin-bottom: 35.5%;
  }
}

.start__title {
  @include font-main;
  width: 310px;
  margin: 0;
  margin-bottom: 42px;
  font-size: 44px;
  line-height: 57px;
  color: $white;

  @media (max-width: 740px){
    @include title_mobile;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 14.4%;
  }
}

.start__text {
  @include font-second;
  margin: 0;
  margin-bottom: 41px;
  color: $basic-light;

  @media (max-width: 740px){
    margin-bottom: 42px;
  }
}

.start__button {
  @include color-button;
  background-color: $base-pink;
  width: 207px;
  padding-left: 6px;

  @media (max-width: 1024px) {
    margin: 0 auto;
  }
}


.start__img {
  width: 58.16%;

  @media (max-width: 1024px) {
    margin-left: 19.5%;
    width: 80.37%;

  }

  @media (max-width: 740px) {
    margin-left: 13%;
    width: 86%;
  }
}