/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$sm: 320px;
$md: 768px;
$xl: 1280px;

// Цвета
$basic-dark: #545454;
$basic-gray: #4C4C4C;
$basic-light: #CDCDCD;
$basic-too-dark: #292929;
$base-pink: #F1CDB3;
$white: #ffffff;

// Шрифты
$main-font: "Georgia", "Arial", sans-serif;
$text-font: "Arial", sans-serif;
