@charset "UTF-8";
/* Это точка входа для всех стилей. Подключите сюда все файлы стилей, которые должны быть на странице.*/
/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #545454;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
}

p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.start {
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-pets {
  padding-top: 30px;
  padding-bottom: 26px;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 16px;
}

.nav__item {
  margin-left: 35px;
}

.nav__link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  font-size: 15px;
  line-height: 24px;
  color: #F6F6F6;
  padding-bottom: 4px;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__link:active, .nav__link:focus {
  border-bottom: 3px solid #F1CDB3;
  outline: none;
}

.nav__link-pets {
  color: #545454;
}

.start__wrap {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.start__content {
  margin-right: 42px;
  margin-top: 163px;
}

.start__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  width: 310px;
  margin: 0;
  margin-bottom: 42px;
  font-size: 44px;
  line-height: 57px;
  color: #ffffff;
}

.start__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  width: 460px;
  margin: 0;
  margin-bottom: 41px;
  color: #F6F6F6;
}

.start__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  background-color: #F1CDB3;
  width: 207px;
}

.start__button:hover {
  background-color: #FDDCC4;
}

.start__button:active, .start__button:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

.about {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-left: 215px;
  padding-bottom: 89px;
}

.about__content {
  width: 430px;
  padding-top: 15px;
}

.about__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin-bottom: 24px;
}

.about__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}

.about__img {
  margin-right: 120px;
}

.pets {
  background-color: #F6F6F6;
}

.pets__wrap {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 990px auto;
      grid-template-columns: auto 990px auto;
  -ms-grid-rows: auto 435px auto;
      grid-template-rows: auto 435px auto;
  padding-top: 80px;
}

.pets__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin-bottom: 60px;
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.pets__slider {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.pets__slide-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  position: relative;
  background-color: transparent;
}

.pets__slide-btn:hover {
  background-color: #FDDCC4;
}

.pets__slide-btn:active, .pets__slide-btn:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

.pets__slide-btn:hover, .pets__slide-btn:active, .pets__slide-btn:focus {
  border: none;
}

.pets__slide-btn:disabled, .pets__slide-btn[disabled] {
  border: 2px solid #CDCDCD;
}

.pets__slide-btn:disabled:hover, .pets__slide-btn:disabled:active, .pets__slide-btn:disabled:focus, .pets__slide-btn[disabled]:hover, .pets__slide-btn[disabled]:active, .pets__slide-btn[disabled]:focus {
  background-color: transparent;
}

.pets__slide-btn--previous {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.pets__slide-btn--previous::after {
  display: block;
  content: url(../../assets/images/Arrow.svg);
  width: 14px;
  height: 6px;
  position: absolute;
  top: 12px;
}

.pets__slide-btn--previous:hover::after, .pets__slide-btn--previous:active::after, .pets__slide-btn--previous:focus::after {
  top: 14px;
}

.pets__slide-btn--previous:disabled {
  border: 2px solid #CDCDCD;
}

.pets__slide-btn--previous:disabled:hover::after, .pets__slide-btn--previous:disabled:active::after, .pets__slide-btn--previous:disabled:focus::after {
  top: 12px;
}

.pets__slide-btn--next {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pets__slide-btn--next::after {
  display: block;
  content: url(../../assets/images/Arrow.svg);
  width: 14px;
  height: 6px;
  position: absolute;
  top: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pets__slide-btn--next:hover::after, .pets__slide-btn--next:active::after, .pets__slide-btn--next:focus::after {
  top: 32px;
}

.pets__slide-btn--next:disabled {
  border: 2px solid #CDCDCD;
}

.pets__slide-btn--next:disabled:hover::after, .pets__slide-btn--next:disabled:active::after, .pets__slide-btn--next:disabled:focus::after {
  top: 30px;
}

.pets__button {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
  width: 261px;
  background-color: #F1CDB3;
  margin-top: 60px;
  margin-bottom: 100px;
}

.pets__button:hover {
  background-color: #FDDCC4;
}

.pets__button:active, .pets__button:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding-bottom: 30px;
  background: #FAFAFA;
  border-radius: 9px;
}

.slider__item:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
}

.slider__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider__name {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}

.slider__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
  width: 186px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 25px;
}

.slider__btn:hover {
  background-color: #FDDCC4;
}

.slider__btn:active, .slider__btn:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

.slider__btn:hover, .slider__btn:active, .slider__btn:focus {
  border: none;
}

.help {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 45px;
}

.help__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin-bottom: 60px;
  text-align: center;
}

.help__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.help__item {
  padding: 0 60px;
  margin-bottom: 55px;
}

.help__name {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.donation {
  background-color: #F6F6F6;
}

.donation__wrap {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 82px;
  padding-left: 182px;
  padding-bottom: 101px;
}

.donation__content {
  width: 430px;
}

.donation__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}

.donation__bank {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  color: #545454;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}

.donation__acount {
  position: relative;
  background-color: #F1CDB3;
  color: #545454;
  width: 349px;
  height: 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  outline: none;
  padding-left: 46px;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}

.donation__acount::before {
  display: block;
  position: absolute;
  content: url(../../assets/images/credit-card.svg);
  width: 22px;
  height: 32px;
  left: 15px;
  top: 10px;
}

.donation__text {
  width: 380px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: #B2B2B2;
}

.donation__img {
  margin-right: 30px;
}

.footer {
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__wrap {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.footer__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 32px;
}

.footer__text {
  display: block;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.footer__contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 17px;
}

.footer__location {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 17px;
  width: 302px;
  height: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__address {
  padding-left: 41px;
  position: relative;
}

.footer__address::before {
  display: block;
  position: absolute;
  content: url(../../assets/images/icon-marker.svg);
  width: 22px;
  height: 32px;
  left: -1px;
}

.footer__email {
  position: relative;
}

.footer__email::before {
  display: block;
  position: absolute;
  content: url(../../assets/images/icon-email.svg);
  width: 22px;
  height: 32px;
  left: 0;
}

.footer__phone {
  position: relative;
}

.footer__phone::before {
  display: block;
  position: absolute;
  content: url(../../assets/images/icon-phone.svg);
  width: 22px;
  height: 32px;
  left: 0;
}

.main-pets {
  background-color: #F6F6F6;
}

.friends {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  padding-top: 82px;
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  .friends {
    max-width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }
}

.friends__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  margin-bottom: 60px;
}

.friends_title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 58px;
  text-align: center;
}

.friends__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 340px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets__page {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52px;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
