@charset "UTF-8";
/* Это точка входа для всех стилей. Подключите сюда все файлы стилей, которые должны быть на странице.*/
/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #545454;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
  overflow-x: hidden;
}

p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.screen__wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .screen__wrap {
    padding: 0 3.9%;
    overflow: hidden;
  }
}

@media (max-width: 740px) {
  .screen__wrap {
    padding: 0 2.9%;
    overflow: hidden;
  }
}

.dark-screen {
  position: fixed;
  display: none;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: 1;
  min-height: 100%;
}

.start {
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.start__hidden {
  overflow: hidden;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 4.2%;
  }
}

@media (max-width: 740px) {
  .header {
    padding-top: 10%;
  }
}

.header__wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.header-pets {
  padding-top: 30px;
  padding-bottom: 26px;
}

.header__logo--hide {
  opacity: 0;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.header__burger--hidden {
  display: none;
}

@media (max-width: 767px) {
  .header__burger--hidden {
    display: block;
  }
}

.header__burger {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 45px;
  right: 44px;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;
}

.header__burger-line {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}

.header__burger::after {
  position: absolute;
  display: block;
  content: '';
  background-color: #F1CDB3;
  width: 30px;
  height: 2px;
  bottom: 4px;
}

.header__burger::before {
  position: absolute;
  display: block;
  content: '';
  background-color: #F1CDB3;
  width: 30px;
  height: 2px;
  top: 4px;
}

.header__burger--open {
  -webkit-transform: rotate(90deg) translateY(1px);
          transform: rotate(90deg) translateY(1px);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 2s;
}

.header__burger--close {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 2s;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 16px;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__item {
  margin-left: 35px;
}

.nav__link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  font-size: 15px;
  line-height: 24px;
  color: #F6F6F6;
  padding-bottom: 4px;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__link:active, .nav__link:focus {
  border-bottom: 3px solid #F1CDB3;
  outline: none;
}

.nav__link-pets {
  color: #545454;
}

.nav__link--disabled {
  pointer-events: none;
  cursor: default;
}

.nav__link--active {
  border-bottom: 3px solid #F1CDB3;
  outline: none;
}

.start__wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 4.64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .start__wrap {
    padding-top: 4.3%;
  }
}

@media (max-width: 740px) {
  .start__wrap {
    padding-top: 14.6%;
  }
}

.start__content {
  width: 38.3%;
  margin-right: 3.5%;
  margin-top: 13.66%;
}

@media (max-width: 1024px) {
  .start__content {
    width: 65%;
    margin-right: 0;
    margin-top: 3.8%;
    margin-bottom: 14.1%;
  }
}

@media (max-width: 740px) {
  .start__content {
    width: 97%;
    text-align: center;
    margin-bottom: 35.5%;
  }
}

.start__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  width: 310px;
  margin: 0;
  margin-bottom: 42px;
  font-size: 44px;
  line-height: 57px;
  color: #ffffff;
}

@media (max-width: 740px) {
  .start__title {
    font-family: "Georgia", "Arial", sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 14.4%;
  }
}

.start__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 41px;
  color: #F6F6F6;
}

@media (max-width: 740px) {
  .start__text {
    margin-bottom: 42px;
  }
}

.start__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  background-color: #F1CDB3;
  width: 207px;
}

.start__button:hover {
  background-color: #FDDCC4;
}

.start__button:active, .start__button:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .start__button {
    margin: 0 auto;
  }
}

.start__img {
  width: 58.16%;
}

@media (max-width: 1024px) {
  .start__img {
    margin-left: 19.5%;
    width: 80.37%;
  }
}

@media (max-width: 740px) {
  .start__img {
    margin-left: 13%;
    width: 86%;
  }
}

.about {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 4.24%;
  padding-left: 9.2%;
  padding-bottom: 88px;
}

@media (max-width: 1024px) {
  .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    padding-top: 8.7%;
    padding-bottom: 11.7%;
  }
}

.about__content {
  width: 41.83%;
  padding-top: 15px;
}

@media (max-width: 1024px) {
  .about__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 56%;
    margin-bottom: 7.1%;
  }
}

@media (max-width: 740px) {
  .about__content {
    width: 84.5%;
    margin-bottom: 19px;
  }
}

.about__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin-bottom: 5.8%;
}

@media (max-width: 1024px) {
  .about__title {
    margin-bottom: 5.3%;
  }
}

@media (max-width: 740px) {
  .about__title {
    font-family: "Georgia", "Arial", sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 8.9%;
    text-align: center;
  }
}

.about__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
  color: #4C4C4C;
}

@media (max-width: 740px) {
  .about__text {
    text-align: justify;
    margin-bottom: 22px;
    line-height: 160%;
  }
}

.about__img {
  margin-right: 11.7%;
  width: 300px;
}

@media (max-width: 1024px) {
  .about__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    margin-left: 30.5%;
    margin-bottom: 1.4%;
  }
}

@media (max-width: 740px) {
  .about__img {
    width: 260px;
    height: 354px;
    margin: 0 auto;
    margin-bottom: 1.4%;
  }
}

.pets {
  background-color: #F6F6F6;
  position: relative;
}

.pets__wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 82.5% auto;
      grid-template-columns: auto 82.5% auto;
  -ms-grid-rows: auto 54.8% auto;
      grid-template-rows: auto 54.8% auto;
  padding-top: 6.7%;
}

@media (max-width: 1100px) {
  .pets__wrap {
    padding-top: 11.5%;
    -ms-grid-columns: auto 81.8% auto;
        grid-template-columns: auto 81.8% auto;
  }
}

@media (max-width: 740px) {
  .pets__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-top: 14.2%;
    padding-bottom: 0%;
  }
}

.pets__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 5.9%;
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 2px;
  padding-top: 1px;
}

@media (max-width: 1024px) {
  .pets__title {
    margin-bottom: 10.1%;
    padding-left: -1px;
    padding-top: 0;
  }
}

@media (max-width: 740px) {
  .pets__title {
    font-family: "Georgia", "Arial", sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    width: 96%;
    margin-bottom: 13.8%;
  }
}

.pets__slider {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

@media (max-width: 740px) {
  .pets__slider {
    margin-bottom: 18%;
  }
}

.pets__arrow {
  margin-top: -2px;
}

@media (max-width: 740px) {
  .pets__arrow {
    margin-top: -1px;
  }
}

.pets__arrow--friends {
  margin-top: 0;
}

.pets__slide-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52px;
  height: 52px;
  padding-right: 2px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  position: relative;
  background-color: transparent;
}

.pets__slide-btn:hover {
  background-color: #FDDCC4;
}

.pets__slide-btn:active, .pets__slide-btn:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

.pets__slide-btn:hover, .pets__slide-btn:active, .pets__slide-btn:focus {
  border: none;
}

.pets__slide-btn:disabled, .pets__slide-btn[disabled] {
  border: 2px solid #CDCDCD;
}

.pets__slide-btn:disabled:hover, .pets__slide-btn:disabled:active, .pets__slide-btn:disabled:focus, .pets__slide-btn[disabled]:hover, .pets__slide-btn[disabled]:active, .pets__slide-btn[disabled]:focus {
  background-color: transparent;
  cursor: auto;
}

.pets__slide-btn:disabled path {
  fill: #CDCDCD;
}

.pets__slide-btn:disabled path:hover::after path,
.pets__slide-btn:disabled path:active::after path,
.pets__slide-btn:disabled path:focus::after path {
  fill: #CDCDCD;
}

@media (max-width: 740px) {
  .pets__slide-btn {
    position: absolute;
    bottom: 136px;
  }
}

.pets__slide-btn--previous {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.pets__slide-btn--previous:hover::after, .pets__slide-btn--previous:active::after, .pets__slide-btn--previous:focus::after {
  top: 12px;
}

@media (max-width: 740px) {
  .pets__slide-btn--previous {
    left: calc(28% - 26px);
  }
}

.pets__slide-btn--next {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pets__slide-btn--next:hover::after, .pets__slide-btn--next:active::after, .pets__slide-btn--next:focus::after {
  top: 32px;
}

@media (max-width: 740px) {
  .pets__slide-btn--next {
    right: calc(28% - 26px);
  }
}

.pets__button {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
  width: 261px;
  background-color: #F1CDB3;
  margin-top: 59px;
  margin-bottom: 101px;
}

.pets__button:hover {
  background-color: #FDDCC4;
}

.pets__button:active, .pets__button:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

@media (max-width: 740px) {
  .pets__button {
    margin-bottom: 42px;
  }
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  background-color: yellow;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  .slider__list {
    overflow: hidden;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 900px) {
  .slider__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 785px) {
  .slider__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

.slider__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding-bottom: 30px;
  background: #FAFAFA;
  border-radius: 9px;
  overflow: hidden;
  animation: 1s ease-in-out;
  -webkit-animation: 1s ease-in-out;
}

@media (max-width: 786px) {
  .slider__item {
    margin: 0 auto;
  }
}

.slider__item--active {
  display: block;
}

.slider__item--hide {
  display: none;
}

.slider__item:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
  cursor: pointer;
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes right {
  from {
    left: 100;
  }
  to {
    left: 0;
  }
}

@keyframes right {
  from {
    left: 100;
  }
  to {
    left: 0;
  }
}

.slider__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__name {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}

.slider__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
  width: 186px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 25px;
}

.slider__btn:hover {
  background-color: #FDDCC4;
}

.slider__btn:active, .slider__btn:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

.slider__btn:hover, .slider__btn:active, .slider__btn:focus {
  border: none;
}

.help {
  padding-top: 82px;
  padding-left: 3px;
  padding-bottom: 45px;
}

@media (max-width: 1024px) {
  .help {
    margin-left: -2px;
  }
}

@media (max-width: 740px) {
  .help {
    padding-top: 13.2%;
    padding-bottom: 17px;
  }
}

.help__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin-bottom: 58px;
  text-align: center;
}

@media (max-width: 740px) {
  .help__title {
    font-family: "Georgia", "Arial", sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 37px;
  }
}

.help__list {
  padding: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (max-width: 740px) {
  .help__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 291px;
  }
}

.help__item {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 55px;
}

@media (max-width: 1024px) {
  .help__item {
    width: 170px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 740px) {
  .help__item {
    width: 130px;
    margin: 0;
    margin-bottom: 25px;
  }
}

.help__name {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 740px) {
  .help__name {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
}

.help__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 740px) {
  .help__img {
    width: 50px;
    margin-bottom: 16px;
  }
}

.donation {
  background-color: #F6F6F6;
}

.donation__wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.25%;
  padding-left: 7.52%;
  padding-bottom: 5.25%;
}

@media (max-width: 1024px) {
  .donation__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 4.78%;
    padding-top: 10.6%;
  }
}

@media (max-width: 740px) {
  .donation__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0%;
    padding-top: 13.3%;
  }
}

.donation__content {
  width: 40%;
}

@media (max-width: 1024px) {
  .donation__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 57%;
    margin-bottom: 8.2%;
  }
}

@media (max-width: 740px) {
  .donation__content {
    width: 90%;
  }
}

.donation__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin-bottom: 4.8%;
  width: 100%;
}

@media (max-width: 740px) {
  .donation__title {
    font-family: "Georgia", "Arial", sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 7.2%;
    margin-left: 1px;
  }
}

.donation__bank {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  color: #545454;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 4.7%;
}

@media (max-width: 1024px) {
  .donation__bank {
    margin-bottom: 4.6%;
  }
}

@media (max-width: 740px) {
  .donation__bank {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.5px;
    margin-bottom: 7.4%;
  }
}

.donation__acount {
  position: relative;
  background-color: #F1CDB3;
  color: #545454;
  width: 349px;
  height: 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  outline: none;
  padding-left: 46px;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}

@media (max-width: 740px) {
  .donation__acount {
    height: 43px;
    width: 281px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
  }
}

.donation__acount::before {
  display: block;
  position: absolute;
  content: url(../../assets/images/credit-card.svg);
  width: 22px;
  height: 32px;
  left: 15px;
  top: 10px;
}

@media (max-width: 740px) {
  .donation__acount::before {
    top: 10px;
    left: 14px;
  }
}

.donation__text {
  width: 380px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: #B2B2B2;
}

@media (max-width: 740px) {
  .donation__text {
    width: 280px;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 15px;
  }
}

.donation__img {
  margin-right: 30px;
}

@media (max-width: 1024px) {
  .donation__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 5.2%;
    margin-bottom: 8.15%;
  }
}

@media (max-width: 740px) {
  .donation__img {
    width: 260px;
    height: 135.2px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

.footer {
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.4%;
}

@media (max-width: 1024px) {
  .footer__wrap {
    width: 90%;
    padding-top: 2%;
  }
}

@media (max-width: 740px) {
  .footer__wrap {
    width: 300px;
    padding-top: 4.5%;
  }
}

.footer__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 32px;
}

@media (max-width: 740px) {
  .footer__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.06em;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 33px;
  }
  .footer__title-location {
    margin-left: 8px;
    margin-bottom: 40px;
  }
}

.footer__text {
  display: block;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

@media (max-width: 740px) {
  .footer__text {
    margin: 0 auto;
    margin-bottom: 26px;
  }
}

.footer__contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16px;
}

@media (max-width: 1024px) {
  .footer__contacts {
    padding-top: 17px;
    margin-left: -1px;
  }
}

@media (max-width: 740px) {
  .footer__contacts {
    width: 280px;
    margin: 0 auto;
  }
}

.footer__location {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16px;
  width: 302px;
  height: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .footer__location {
    padding-top: 17px;
    padding-left: 2px;
    margin-bottom: 13.5%;
  }
}

@media (max-width: 740px) {
  .footer__location {
    margin-top: -2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16.5%;
  }
}

.footer__address {
  padding-left: 41px;
  position: relative;
}

@media (max-width: 740px) {
  .footer__address {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 32px;
    margin-left: -1px;
  }
}

.footer__address::before {
  display: block;
  position: absolute;
  content: url(../../assets/images/icon-marker.svg);
  width: 22px;
  height: 32px;
  left: -1px;
}

.footer__email {
  position: relative;
}

.footer__email::before {
  display: block;
  position: absolute;
  content: url(../../assets/images/icon-email.svg);
  width: 22px;
  height: 32px;
  left: 0;
}

.footer__phone {
  position: relative;
}

.footer__phone::before {
  display: block;
  position: absolute;
  content: url(../../assets/images/icon-phone.svg);
  width: 22px;
  height: 32px;
  left: 0;
}

.footer__img {
  display: block;
  margin-top: -1px;
}

@media (max-width: 1024px) {
  .footer__img {
    width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 740px) {
  .footer__img {
    width: 260px;
    height: 269px;
  }
}

.main-pets {
  background-color: #F6F6F6;
}

.friends {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .friends {
    padding-bottom: 9.9%;
  }
}

@media (max-width: 740px) {
  .friends {
    padding-top: 13%;
    padding-bottom: 13%;
  }
}

.friends__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .friends__list {
    width: 75.7%;
    margin: 0 auto;
    margin-bottom: 5.2%;
  }
}

@media (max-width: 740px) {
  .friends__list {
    width: 85%;
    margin-bottom: 13.3%;
  }
}

.friends_title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 59px;
  padding-left: 3px;
  text-align: center;
}

@media (max-width: 1024px) {
  .friends_title {
    padding-left: 2px;
    margin-bottom: 3.8%;
  }
}

@media (max-width: 740px) {
  .friends_title {
    font-family: "Georgia", "Arial", sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 13.2%;
  }
}

.friends__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 340px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets__page {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52px;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.friends__slide-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52px;
  height: 52px;
  padding-right: 2px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  position: relative;
  background-color: transparent;
}

.friends__slide-btn:hover {
  background-color: #FDDCC4;
}

.friends__slide-btn:active, .friends__slide-btn:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

.friends__slide-btn:hover, .friends__slide-btn:active, .friends__slide-btn:focus {
  border: none;
}

.friends__slide-btn:disabled, .friends__slide-btn[disabled] {
  border: 2px solid #CDCDCD;
}

.friends__slide-btn:disabled:hover, .friends__slide-btn:disabled:active, .friends__slide-btn:disabled:focus, .friends__slide-btn[disabled]:hover, .friends__slide-btn[disabled]:active, .friends__slide-btn[disabled]:focus {
  background-color: transparent;
  cursor: auto;
}

.friends__slide-btn:disabled path {
  fill: #CDCDCD;
}

.friends__slide-btn:disabled path:hover::after path,
.friends__slide-btn:disabled path:active::after path,
.friends__slide-btn:disabled path:focus::after path {
  fill: #CDCDCD;
}

.friends__slide-btn--previous {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.friends__slide-btn--previous:hover::after, .friends__slide-btn--previous:active::after, .friends__slide-btn--previous:focus::after {
  top: 12px;
}

.friends__slide-btn--next {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.friends__slide-btn--next:hover::after, .friends__slide-btn--next:active::after, .friends__slide-btn--next:focus::after {
  top: 32px;
}

.burger {
  position: absolute;
  top: 0;
  right: 0px;
  width: 320px;
  background: #292929;
  padding-top: 250px;
  min-height: 100%;
  z-index: 2;
  transition: 2s;
  transform: translateX(100%);
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.burger__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.burger__item {
  margin: 0;
  margin-bottom: 41px;
}

.burger__link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #F6F6F6;
  font-size: 32px;
  line-height: 51px;
  margin: 0;
  color: #CDCDCD;
}

.burger__link:hover {
  cursor: pointer;
}

.burger__link:active, .burger__link:focus {
  border-bottom: 3px solid #F1CDB3;
  outline: none;
}

.burger__link--disabled {
  pointer-events: none;
  cursor: default;
}

.burger__link--disabled {
  pointer-events: none;
  cursor: default;
}

.burger__logo {
  position: absolute;
  top: 30px;
  left: 10px;
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.burger__logo--open {
  opacity: 1;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.burger__animation {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.popup {
  background: #FAFAFA;
  border-radius: 9px;
  position: absolute;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: calc(50% - 450px);
  top: calc(50% - 250px);
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  z-index: 2;
  display: none;
}

.popup--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__content {
  width: 351px;
}

.popup__img {
  margin-right: 30px;
  border-radius: 9px 0px 0px 9px;
  -webkit-border-radius: 9px 0px 0px 9px;
  -moz-border-radius: 9px 0px 0px 9px;
  -ms-border-radius: 9px 0px 0px 9px;
  -o-border-radius: 9px 0px 0px 9px;
}

.popup__content {
  padding-top: 51px;
}

.popup__name {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin-bottom: 9px;
}

.popup__type-breed {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: left;
  margin-bottom: 40px;
}

.popup__text {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}

.popup__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup__item {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  font-weight: bold;
  margin-bottom: 11px;
  padding-left: 14px;
  position: relative;
}

.popup__item::before {
  position: absolute;
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  top: 7px;
  left: 0px;
  border-radius: 50%;
  background-color: #F1CDB3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.popup__age,
.popup__inoculations,
.popup__diseases,
.popup__parasites {
  font-weight: normal;
}

.popup__close-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  position: absolute;
  width: 52px;
  height: 52px;
  top: -52px;
  right: -42px;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  z-index: 0;
}

.popup__close-btn:hover {
  background-color: #FDDCC4;
}

.popup__close-btn:active, .popup__close-btn:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

.popup__close-btn::before {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 2px;
  top: 23px;
  left: 16px;
  transform: rotate(45deg);
  background-color: #292929;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.popup__close-btn::after {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 2px;
  top: 23px;
  left: 16px;
  transform: rotate(-45deg);
  background-color: #292929;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
